:root {
    /* mfer background color variables */
    --bg-blue: #5dd3ff;
    --bg-green: #cafe80;
    --bg-red: #ff7077;
    --bg-yellow: #ffe260;
    --bg-orange: #ffb470;
    --bg-grey: #7c7c7c;
    --black: #000000;
    --white: #FFFFFF;

    --sartoshi: sartoshi script;

    /* TODO trait colors, etc */
    /* i think some mfer (m4rsh?) may have done an api for this */

}

/* import sartoshi script */
/* sartoshi script (sartoshiscript.xyz) is a cc0 font based on sartoshi's handwriting and was created by mfer @hyreal3 */
@font-face {
    font-family: 'sartoshi script';
    src: url('SartoshiScript-Regular.otf') format('opentype');
}

/* utility classes for basic display */
.flex { display: flex; }
.flex-r { flex-direction: row; }
.flex-c { flex-direction: column; }
.text-center { text-align: center; }

/* utility class for sartoshi script, if u have it */
.sartoshi {font-family: var(--sartoshi)}

/* utility classes for mferish background color */
.bg-bg-blue { background-color: var(--bg-blue); }
.bg-bg-green { background-color: var(--bg-green); }
.bg-bg-red { background-color: var(--bg-red); }
.bg-bg-yellow { background-color: var(--bg-yellow); }
.bg-bg-orange { background-color: var(--bg-orange); }
.bg-bg-grey { background-color: var(--bg-grey); }
.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }


/* utility classes for mferish text color */
.text-bg-blue { color: var(--bg-blue); }
.text-bg-green { color: var(--bg-green); }
.text-bg-red { color: var(--bg-red); }
.text-bg-yellow { color: var(--bg-yellow); }
.text-bg-orange { color: var(--bg-orange); }
.text-bg-grey { color: var(--bg-grey); }
.text-black { color: var(--black); }
.text-white { color: var(--white); }


/* utility classes for bg-blue borders */

/* solid */
.border-solid-bg-blue-2 {
    border: 2px solid var(--bg-blue);
}
.border-solid-bg-blue-4 {
    border: 4px solid var(--bg-blue);
}
.border-solid-bg-blue-6 {
    border: 6px solid var(--bg-blue);
}
.border-solid-bg-blue-8 {
    border: 8px solid var(--bg-blue);
}
.border-solid-bg-blue-10 {
    border: 10px solid var(--bg-blue);
}

/* double */
.border-double-bg-blue-2 {
    border: 2px double var(--bg-blue);
}
.border-double-bg-blue-4 {
    border: 4px double var(--bg-blue);
}
.border-double-bg-blue-6 {
    border: 6px double var(--bg-blue);
}
.border-double-bg-blue-8 {
    border: 8px double var(--bg-blue);
}
.border-double-bg-blue-10 {
    border: 10px double var(--bg-blue);
}

/* dashed */
.border-dashed-bg-blue-2 {
    border: 2px dashed var(--bg-blue);
}
.border-dashed-bg-blue-4 {
    border: 4px dashed var(--bg-blue);
}
.border-dashed-bg-blue-6 {
    border: 6px dashed var(--bg-blue);
}
.border-dashed-bg-blue-8 {
    border: 8px dashed var(--bg-blue);
}
.border-dashed-bg-blue-10 {
    border: 10px dashed var(--bg-blue);
}

/* dotted */
.border-dotted-bg-blue-2 {
    border: 2px dotted var(--bg-blue);
}
.border-dotted-bg-blue-4 {
    border: 4px dotted var(--bg-blue);
}
.border-dotted-bg-blue-6 {
    border: 6px dotted var(--bg-blue);
}
.border-dotted-bg-blue-8 {
    border: 8px dotted var(--bg-blue);
}
.border-dotted-bg-blue-10 {
    border: 10px dotted var(--bg-blue);
}

